<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Musubi - 로그인</title>

    <!-- 정적 CSS -->
    <link rel="stylesheet" th:href="@{/css/member/login.css}" />
<link rel="stylesheet" th:href="@{/css/member/customAlert.css}" />

    <script th:inline="javascript">

        const CONTEXT_PATH = /*[[@{/}]]*/ "/";

    </script>
</head>


<body>

    <div class="login-wrapper">

   
        <div class="logo" th:onclick="|location.href='@{/}'|">
            <img th:src="@{/images/homeimgs/Logo_3.png}" alt="Musubi Logo" class="logo-img">
        </div>



        <form class="login-card" id="loginForm">
            <h2>로그인</h2>

            <div class="field">
                <span class="icon">📧</span>
                <input type="text" name="memberId" placeholder="ID" required />
            </div>

            <div class="field">
                <span class="icon">🔒</span>
                <input type="password" name="password" placeholder="비밀번호" required />
            </div>

            <button type="submit">로그인</button>

            <label class="keep">
                <input type="checkbox" id="rememberMe" />
                로그인 상태 유지
            </label>

            <div class="links">
                <a th:href="@{member/signup}">회원가입</a>
            </div>
        </form>


    </div>

<div id="customModalOverlay" class="custom-modal-overlay">
    <div class="custom-modal">
        <div class="custom-modal-body">
            <div class="custom-modal-icon">!</div>
            <div class="custom-modal-text" id="customModalText">메시지</div>
        </div>
        <div class="custom-modal-buttons" id="customModalButtons"></div>
    </div>
</div>

<script th:src="@{/js/member/modal.js}" defer></script>
<script th:src="@{/js/member/login.js}" defer></script>


    <!-- 정적 JS -->

</body>


</html>